:root {
    --aog-color: #9ACBD0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #444444;
    font-family: Verdana, sans-serif;
}

#navbar {
    margin: 0 0 20px 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    background: var(--aog-color);
}

#navbar li {
    display: inline-block;
    background: rgba(255, 255, 255, 0.25);
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
}

#navbar li a {
    margin: 0;
    color: #FFFFFF;
    text-decoration: none;
    transition: 0.2s;
}

#navbar li a:hover {
    color: #2973B2;
}

#content {
    padding: 10px;
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

#game-container {
    width: 70%;
    height: 100%;
    margin: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#card-container {
    aspect-ratio: 4 / 3;
    width: 70%;
    perspective: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#card {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1.0s;
    transform-style: preserve-3d;
}

#card-front, #card-back, #card-next {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#card-front, #card-back {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: all 1.0s ease-in-out;
    border-radius: 10px;
    font-size: 1rem;
    padding: 20px;
}

#card-next {
    width: 80%;
    height: 80%;
    border-radius: 8px;
    font-size: 0.8rem;
    padding: 16px;
}

#card-back {
    transform: rotateY(180deg);
}

#stack-container {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10%;
}

#stack-correct, #stack-incorrect {
    aspect-ratio: 4 / 3;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #000000;
}

#packs-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
    grid-auto-rows: 1fr;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 10px;
}

#packs-container a {
    text-decoration: none;
    color: #000000;
    transition: 0.2s;
    font-size: 1.3rem;
}

#packs-container a:hover {
    color: #8ABDFF;
}

.pack {
    display: flex;
    aspect-ratio: 2 / 1;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: var(--aog-color);
    color: #000000;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 0.5s ease-in-out;
    box-shadow: 4px 4px 1px rgba(0, 0, 0, 0.5);
}

.packs-center {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #FFFFFF;
}

.error {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.5);
    color: #FF0000;
    border-radius: 10px;
    padding: 20px;
}

.create-form {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.create-segment {
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
}

.centre-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.left-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.generic-container {
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 50%;
}

.form label {
    color: white;
}

.form label input {
    background-color: var(--aog-color);
    color: white;
    border-radius: 5px;
    padding: 5px;
    font-family: Verdana, sans-serif;
    border: 2px solid white;
}

.form-error label input {
    border: 2px solid red;
}

.error-list ul {
    list-style: none;
}

.error-list li {
    color: red;
    font-size: 0.9rem;
}