:root {
    --aog-color: #9ACBD0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #363636;
    font-family: Verdana, sans-serif;
}

#navbar {
    margin: 0 0 20px 0;
    background: var(--aog-color);
}

#navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;

    list-style-type: none;

    box-shadow: 0px 13px 21px -17px #0001;
}

#navbar li {
    background: #0003;
    transition: 0.2s;
}

#navbar li:hover {
    background: #0004;
    box-shadow: inset 0px -25px 14px -16px #0001;
}

#navbar li a {
    padding: 10px 30px 10px 30px;
    margin: 0;
    color: white;
    text-decoration: none;
    transition: 0.2s;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0px;

    text-shadow: 0px 0px 4px #00000014;
}

#navbar li a:hover {
    color: #acd9ff;
    text-shadow: 0px 0px 4px #00000034;
}

#navbar li button {
    margin: 0;
    color: #FFFFFF;
    text-decoration: none;
    transition: 0.2s;
    background: none;
    border: none;
    font-size: 1rem;
}

#navbar li button:hover {
    color: #2973B2;
}

#content {
    padding: 10px;
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

#game-container {
    width: 70%;
    height: 100%;
    margin: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#card-container {
    aspect-ratio: 4 / 3;
    width: 70%;
    perspective: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#card {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1.0s;
    transform-style: preserve-3d;
}

#card-front, #card-back, #card-next {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#card-front, #card-back {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: all 1.0s ease-in-out;
    border-radius: 10px;
    font-size: 1rem;
    padding: 20px;
}

#card-front textarea, #card-back textarea {
    color: black;
}

#card-next {
    width: 80%;
    height: 80%;
    border-radius: 8px;
    font-size: 0.8rem;
    padding: 16px;
}

#card-back {
    transform: rotateY(180deg);
}

#stack-container {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10%;
}

#stack-correct, #stack-incorrect {
    aspect-ratio: 4 / 3;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #000000;
}

.packs-container, #cards-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
    grid-auto-rows: 1fr;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 10px;
}

.packs-container a {
    text-decoration: none;
    color: #000000;
    transition: 0.2s;
    font-size: 1.3rem;
}

.packs-container a:hover {
    color: #8ABDFF;
}

.pack {
    display: flex;
    aspect-ratio: 2 / 1;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: var(--aog-color);
    color: #000000;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 0.5s ease-in-out;
    box-shadow: 4px 4px 1px rgba(0, 0, 0, 0.5);
}

.card {
    display: flex;
    aspect-ratio: 2 / 1;
    width: 100%;
    text-align: center;
    padding: 10px;
    color: #000000;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 0.1s ease-in-out;
    box-shadow: 4px 4px 1px rgba(0, 0, 0, 0.5);
    outline: white solid 0;
    position: relative;
}

.card:hover {
    outline-width: 5px;
}

.card[data-selected="true"] {
    outline-width: 2px;
}

.card[data-selected="true"]:hover {
    outline-width: 5px;
    outline-color: red;
}

.card span {
    position: absolute;
    transition: all 0.1s ease-in-out;
    opacity: 0;
    top: 10px;
    left: 10px;
}

.card[data-selected="true"] span {
    opacity: 100%;
}

.packs-center, #cards-center {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    color: #FFFFFF;
}

.error {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.5);
    color: #FF0000;
    border-radius: 10px;
    padding: 20px;
}

.create-form {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.create-segment {
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
}

.centre-content, .centre-space {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.left-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.centre-space {
    row-gap: 1rem;
}

.centre-wide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.arrange-across {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
}

.arrange-containers-across {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.generic-container {
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 50%;
    height: 100%;
    color: white;
}

.pack-display {
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 25%;
    height: 100%;
    color: white;
}

.pack-thumbnail {
    color: black;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
}

.form label {
    color: white;
}

.form input, .form textarea {
    background-color: var(--aog-color);
    color: white;
    border-radius: 5px;
    padding: 5px;
    font-family: Verdana, sans-serif;
    border: 2px solid white;
    width: 100%;
}

#quiz-style {
    background-color: var(--aog-color);
    color: white;
    border-radius: 5px;
    padding: 5px;
    font-family: Verdana, sans-serif;
    border: 2px solid white;
}

.form textarea {
    height: 100%;
    box-sizing: border-box;
    resize: none;
}

.form-color label {
    color: white;
}

.form-color label input {
    color: white;
    border-radius: 5px;
    border: 2px solid white;
}

.form-submit {
    width: 100%;
}

.form-submit input {
    background-color: #B3D8DC;
    color: white;
    border-radius: 5px;
    padding: 5px;
    font-family: Verdana, sans-serif;
    border: 2px solid white;
    width: 100%;
    transition: 0.2s;
}

.form-submit input:hover {
    background-color: #2973B2;
}

.form-button {
    background-color: #B3D8DC;
    color: white;
    border-radius: 5px;
    padding: 5px;
    font-family: Verdana, sans-serif;
    border: 2px solid white;
    width: 100%;
    transition: 0.2s;
}

.form-button a {
    text-decoration: none;
}

.form-button:hover {
    background-color: #2973B2;
}

.form-checkbox input {
    width: auto;
    height: 1.5rem;
}

.form-error label input {
    border: 2px solid red;
}

.error-list ul {
    list-style: none;
}

.error-list li {
    color: red;
    font-size: 0.9rem;
}

.prevent-select {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}